<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<div class="row" style="margin-top: 1%;">
     <div class="col-4"></div> 
    <div class="col-4" style="background-color: #B379DF;height: 100%!important;">
      
        <img style="margin-left: 77px" src="assets/img/Illustration.png"
        alt="avatar"  />
        <div class="card" style="margin-top: -31%;" >
            <form class="needs-validation"  >
                <div class="font">
                    <h4  style="text-align: center;
                    font-size: 40.33px;font-family: Poppins, sans-serif;
                    font-weight: 600;
                    font-style: normal;">Welcome back !</h4>
                    <h6 style="text-align: center;font-size: 15px;">Welcome back we missed you</h6>
                </div>

                <div class="row align-items-center d-flex justify-content-center" > 
                    
                    <div class="col-9" >

                       

                            <label for="emailAddress" class="form-label"> Username </label>
                            <div class="col-sm-12">
                                <i class="ft-user"></i> <input class="form-control" type="text"
                                    placeholder="Username" autocomplete="off" autofocus required />
                            </div>

                      
                       

                            <label class="form-label"> Password </label>
                            <div class="col-sm-12">
                                <input class="form-control" id="password" type="password" name="Password"
                                    placeholder="Enter Password" autocomplete="off" required>
                            </div>

                       

                       
                            <div class="col-sm-12 mb-2">
                                <a
                                    style="margin-left: 62%; color: rgb(197, 209, 197)!important; font-weight: 500;">Forgot
                                    Password?</a>
                            </div>
                       
                       
                       
                            <div class="col-sm-12 btn-primary" style="text-align: center;background-color: #9C3FE4;height: 40px;width: 372px;">
                           
                                <span style="margin-top: 4%;">Sign In</span>
                          
                            <!-- <div class="col-sm-12 mt-2 align-items-center d-flex divider my-4">
                               
                               
                               
                                    
                                    <p 
                                      style="margin-left: 20px; color: rgb(197, 209, 197)!important; font-weight: 500;">or
                                        continue with</p>
                               
                            </div> -->

                         <div class="col-sm-12 mt-4 align-items-center d-flex justify-content-center divider my-2">
                                <div style="flex: 1;  height: 1px;  background-color: #ccc;"></div>
                                <p style="margin: 0 10px; color: rgb(197, 209, 197); font-weight: 500;">or continue with</p>
                                <div  style="flex: 1;height: 1px;background-color: #ccc;"></div> 
                          </div> 
                            
                            <div class="col-sm-12  align-items-center d-flex justify-content-center divider ">
                                <img style="margin-right: 5px!important;" src="assets/img/gButton.png"
                                    alt="avatar" height="44" width="60" />
                                <img style="margin-right: 5px!important;" src="assets/img/aButton.png"
                                    alt="avatar" height="44" width="60" />
                                <img style="margin-right: 5px!important;" src="assets/img/fButton.png"
                                    alt="avatar" height="44" width="60" />
                            </div>
                        </div>
                    </div>



                </div>
    </form>
        </div>
               
       
    </div>
    <div class="col-3"></div> 
</div>