<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">


  <div class="row" style="margin-top: 4px;line-height: 1;background:linear-gradient(94deg, #fbfafc, #ab9fd9);height: 100%;">
    <div class="col-sm-4 col-4 col-md-4"></div>
    <div class="col-sm-4 col-4 col-md-4" style="height:80% ;">


        <div class="card " style="border: 0;   border-radius: 8%;height: 95%;margin-top: 3%;background-color: none;">
            <img src="assets/img/Illustration.png" style="background-color: black;border-radius: 7%;height: 150%;" />
            <!-- <form class="col-sm-12 col-12 col-md-12 needs-validation" style="margin-top: -35%;background-color: #312435;border-radius: 8%;position: relative;"> -->
                <form class="col-sm-12 col-12 col-md-12 needs-validation" style="margin-top: -35%; background-color: #312435; border-radius: 8%; position: relative; 
           
               
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            
                <div style="border-radius: 8%;background: linear-gradient( transparent 0%, #312435 100%);">


                <div class="row" style="margin-top: -17%;">
                    <img class="col-sm-4 col-4 col-md-4" src="assets/img/frontshapes.png"  >
                    <div class="col-sm-4 col-4 col-md-4"></div>
                
                
                <img class="col-sm-4 col-4 col-md-4" src="assets/img/shapes2.png" style="margin-top: 15%;" >
                </div>



    <!-- <img src="assets/img/frontshapes.png" style="margin-top: -13px;margin-right: -12px;" >
    <img class="" src="assets/img/shapes2.png" > -->
    <div style="margin-top: -26%;">
        <p class="col-sm-12 col-12 col-md-12"  style="text-align: center;
        font-size: 28.33px;font-family: Poppins, sans-serif;color: white;
        font-weight: 600;
        font-style: normal;">Welcome back !</p>
        <p class="col-sm-12 col-12 col-md-12" style="text-align: center;font-size: 12.30px;color: #8E8484;">Welcome back we missed you</p>
    
       <div class="row align-items-center d-flex justify-content-center">

      
        <div class="col-9">
            <label for="" class="form-label" style="color: #8E8484;font-size: 12px;"> Username </label>
           
                      <input class="form-control" type="text" style="background:url('assets/img/Vector.png'),linear-gradient(94deg, #58565d, #392f2e); background-repeat: no-repeat; background-position: left ;  padding-left: 35px; height: 30px; font-size: 12px; color: #8E8484; border-color: #58565d;background-position-x: 12px;background-color: #58565d; " placeholder="username" autocomplete="off" autofocus required />

                    
                   
          
            <label class="form-label" style="color: #8E8484;font-size: 1px;margin-top:5px"> Password </label>
          
           
            <input class="form-control" id="password" type="password" name="password" style="background: 
                url('assets/img/pass1.png') left center, 
                url('assets/img/pass2.png') calc(100% - 10px) center,
                linear-gradient(94deg, #58565d, #392f2e);
                background-repeat: no-repeat;
                background-position: 10px, right center; 
                padding-left: 35px;
                padding-right: 35px;
                height: 30px;
                font-size: 10px;
                color: #8E8484;
                border-color: #58565d;
                background-color: #58565d; "
                placeholder="password" autocomplete="off" required>

        


                  
            <div class="col-sm-12 mb-4 ">
                <a style="color:#8E8484; font-weight: 300;font-size: 10px;float: right;margin-top:5px">Forgot
                    Password?</a>
            </div>
            <div class="col-sm-12 mt-4" style="display: flex; align-items: center; justify-content: center; border-radius: 9px; background-image: linear-gradient(45deg, #7441DB, #F9877C); height: 30px;">

                <span style="color: #DDCECE; font-size: 15px;">Sign in</span>
            
            </div>
            
            
           

            
            <div class="col-sm-12 mt-2 align-items-center d-flex justify-content-center divider mb-2">
             
             <div style="flex: 1;  height: 1px;  background-color: #ccc;opacity: .5;"></div>
                <p style="margin: 0 10px; color: rgb(197, 209, 197); font-weight: 500;font-size: 10px;">or continue with
                </p>
                <div style="flex: 1;height: 1px;background-color: #ccc;opacity: .5;"></div>
            </div>

            <div class="col-sm-12 col-md-12 col-xl-12  col-6 align-items-center d-flex justify-content-center divider mb-3 ">
                <img style="margin-right: 7px!important;" src="assets/img/gButton.png" alt="avatar"
                    height="30" width="40" />
                <img style="margin-right: 7px!important;" src="assets/img/aButton.png" alt="avatar"
                    height="30" width="40" />
                <img style="margin-right: 7px!important;" src="assets/img/fButton.png" alt="avatar"
                    height="30" width="40" />
            </div>
        </div>
    </div>
  </div> 

  <div class="row" style="margin-top: -18%;" >
     <img class="col-sm-4 col-4 col-md-4" src="assets/img/Ellipse2.png" style="border-bottom-left-radius:26%;" >
    <div class="col-sm-4 col-4  col-4 col-md-4"></div>
     <img class="col-sm-4 col-4 col-md-4" src="assets/img/Ellipse3.png" style="border-bottom-right-radius:25%;">
 </div>
       
</div>
               
             
              



            </form>
        </div>


    </div>
    <div class="col-sm-4 col-4 col-md-4"></div>
</div>